
body {
  font-family: 'Open Sans Variable', sans-serif;
}
header {
  
  img {
  height: 60px;
}
  
}

main {
 
  .nero{
    background-color: black;
  }
  
  .azzurro {
    background-color: blue;
  }

  h2{
    font-size: 30px;
  }

  .piccola {
    height: 50px;
  }

  .scritte_piccole {
    font-size: 15px;
  }

}

footer {
  text-align: center;
}
